---
---

@import 'main';

/* append your custom style below */

* {
  background-color: none;
}

body {
  background-image: radial-gradient(at 3.6% 13.8%, #f8d5e0 0px, transparent 50%),
  radial-gradient(at 96.3% 93.8%, #fad3ca 0px, transparent 50%);
}

#topbar-wrapper {
  background: transparent;
}

#sidebar {
  background: transparent;
}

footer {
  background: transparent;
  border: none;
}
